/* Fira Code */
@font-face {
    font-family: "Cascadia Code";
    font-style: normal;
    src: local("Fira Code"), url("maize/FiraCode-Regular.ttf") format("ttf");
  }
  
  /* 全局属性 */
  :root {
    --main-blue: #166ff3;
    --main-red: #ff6b6b;
    --main-green: #2ed573;
    --select-text-bg-color: #e49123;
    --bg-color: #e3e3e3;
    /*change background*/
    --text-color: #333333;
    /*change text color*/
    --md-char-color: #c7c5c5;
    /*change color of meta characetrs like `*` in markdown */
    --meta-content-color: #5b808d;
    /*change color of meta contents like image text or link address in markdown */
  
    --primary-color: #428bca;
    /* color of primary buttons */
    --primary-btn-border-color: #285e8e;
    --primary-btn-text-color: #fff;
  
    --window-border: 1px solid #eee;
    /*border for sidebar, etc*/
  
    --active-file-bg-color: #eee;
    /*background color if list item in file tree or file list*/
    --active-file-text-color: inherit;
    --active-file-border-color: #ff6b6b;
  
    --side-bar-bg-color: var(--bg-color);
    /*change background of sidebar*/
    --item-hover-bg-color: rgba(229, 229, 229, 0.59);
    /*background of control items when hover, like menu in sidebar*/
    --item-hover-text-color: #ff6b6b;
    --monospace: monospace;
    /*monospace font for codes, fences*/
  }
  
  ::selection {
    background: #b981d156;
  }
  
  ::-moz-selection {
    background: #b981d1;
    color: white;
  }
  
  ::-webkit-selection {
    background: #b981d1;
    color: white;
  }
  
  #write {
    max-width: 914px;
    font-size: 16px;
    text-align: left;
    letter-spacing: 0px;
    font-family: "Cascadia Code", "微软雅黑", "PingFang SC", "Microsoft YaHei",
      sans-serif;
  }
  
  /*段落*/
  #write p {
    font-size: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    line-height: 26px;
    color: black;
  }
  
  /*  todo item 对齐 */
  #write input[type="checkbox"] {
    margin-top: calc(1em - 2px);
    margin-right: 5px;
    left: -3px;
  }
  
  /*标题*/
  /* #write h1, */
  #write h2,
  #write h3,
  #write h4,
  #write h5,
  #write h6 {
    margin: 0.72em 0;
    padding: 0px;
    font-weight: bold;
    color: black;
  }
  
  #write h2::before {
    bottom: 0.2rem;
    content: "H2";
  }
  #write h3::before {
    bottom: 0.2rem;
    content: "H3";
  }
  #write h4::before {
    bottom: 0.2rem;
    content: "H4";
  }
  #write h5::before {
    bottom: 0.2rem;
    content: "H5";
  }
  #write h6::before {
    bottom: 0.2rem;
    content: "H6";
  }
  
  /* #write h1::before, */
  #write h2::before,
  #write h3::before,
  #write h4::before,
  #write h5::before,
  #write h6::before {
    border-radius: 0;
    bottom: 0;
    color: #166ff3;
    float: none;
    font-size: 0.9rem;
    font-variant: "small-caps";
    font-weight: bold;
    left: auto;
    line-height: 20px;
    padding: 0;
    position: absolute;
    right: calc(100% + 10px);
    vertical-align: baseline;
  }
  
  #write h2 {
    font-size: 1.7rem;
    margin: 1em 0;
  }
  
  #write h2 span {
    font-weight: bold;
    color: #136ef7;
    padding: 3px 10px 1px;
  }
  
  #write h3 {
    font-size: 1.5rem;
  }
  
  #write h4 {
    font-size: 1.25rem;
  }
  
  #write h5 {
    font-size: 1rem;
  }
  
  #write h6 {
    font-size: 1rem;
  }
  
  /* 列表 */
  #write ul,
  #write ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 40px;
    color: var(--main-red);
  }
  
  #write ul {
    list-style-type: disc;
  }
  
  #write ul ul {
    list-style-type: square;
  }
  
  #write ol {
    list-style-type: decimal;
  }
  
  /* 列表内容 */
  #write li section {
    font-size: 15px;
  }
  
  /* 字体加粗 */
  /* #write strong::before {
    content: '「';
  } */
  
  #write strong {
    color: #136ef7;
    font-weight: bold;
  }
  
  /* #write strong::after {
    content: '」';
  } */
  
  /*引用*/
  
  #write blockquote {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 10px 10px 10px 20px;
    font-size: 0.9em;
    background: #ffffff;
    border-left: 5px solid #42a5f5;
    color: #6a737d;
    overflow: auto;
    box-shadow: 3px 8px 10px 2px rgb(173 173 173);
    -webkit-overflow-scrolling: touch;
  }
  
  #write blockquote p {
    line-height: 26px;
  }
  
  /* 超链接 */
  #write a {
    text-decoration: none;
    font-weight: bold;
    color: #c94ae9;
    border-bottom: 2px solid #c94ae9;
  }
  
  /* 分割线 */
  /* #write hr {
    height: 1px;
    padding: 0;
    border: none;
    text-align: center;
    background-image: linear-gradient(
      to right,
      rgba(231, 93, 109, 0.3),
      rgba(255, 159, 150, 0.75),
      rgba(255, 216, 181, 0.3)
    );
  } */
  
  #write hr {
    height: 5px;
    padding: 0;
    border: none;
    text-align: center;
    background-image: linear-gradient(
      to right,
      rgb(0 255 240),
      rgb(103 239 172),
      rgb(144 255 0 / 30%)
    );
  }
  
  /* background-color 由 rgba 转为 HEX*/
  #write code {
    font-size: 14px;
    color: rgb(235, 76, 55);
    background-color: #f0f0f0;
  }
  
  /* 行内代码 */
  #write p code,
  #write span code,
  #write li code {
    word-wrap: break-word;
    padding: 2px 4px;
    border-radius: 4px;
    margin: 0 2px;
    word-break: break-all;
  }
  
  /* 文章插图 */
  #write img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 12px #84a1a8;
    border: 0px;
  }
  
  #write table tr {
    border: 0;
    border-top: 1px solid #ccc;
    background-color: white;
  }
  
  #write table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  
  #write table tr th,
  #write table tr td {
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-align: left;
  }
  
  /* #write table tr th {
    font-weight: bold;
    background-color: #f0f0f0;
  } */
  
  #write table tr th {
    font-weight: bold;
    color: #0489d7;
    background-color: #42a5f53d;
  }
  
  /* 下角标 */
  #write .md-def-name {
    padding-right: 2.3vw;
  }
  
  #write .md-def-name:before {
    content: "[";
    color: #000;
  }
  
  #write .md-def-name:after {
    color: #000;
  }
  
  /* 代码块主题 */
  code,
  .md-fences {
    padding: 0.5em;
    /* border: 1px solid #ccc; */
    padding: 0.1em;
    border-radius: 5px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-family: "Cascadia Code", "微软雅黑", "PingFang SC", "Microsoft YaHei",
      sans-serif;
  }
  
  .md-fences {
    margin: 0 0 20px;
    background-color: #292b35;
    color: rgb(236, 236, 236);
    /* font-size: 1em; */
    padding: 0.3em 1em;
    padding-top: 0.4em;
    box-shadow: 0px 4px 9px grey;
  }
  
  .CodeMirror div.CodeMirror-cursor {
    margin-left: 4.6px;
    border-left: 1px solid #26ed91;
    z-index: 5;
  }
  
  .cm-s-inner div.CodeMirror-selected {
    background: rgba(113, 124, 180, 0.2);
  }
  
  .CodeMirror-code {
    margin-left: 5px;
  }
  
  .cm-s-inner .cm-keyword {
    color: #c792ea;
    font-weight: 450;
  }
  
  .cm-s-inner .cm-operator {
    color: #89ddff;
  }
  
  .cm-s-inner .cm-variable-2 {
    color: #eeffff;
  }
  
  .cm-s-inner .cm-variable-3,
  .cm-s-inner .cm-type {
    color: #f07178;
  }
  
  .cm-s-inner .cm-builtin {
    color: #ffcb6b;
  }
  
  .cm-s-inner .cm-atom {
    color: #f78c6c;
  }
  
  .cm-s-inner .cm-number {
    color: #ff5370;
  }
  
  .cm-s-inner .cm-def {
    color: #82aaff;
  }
  
  .cm-s-inner .cm-string {
    color: #c3e88d;
  }
  
  .cm-s-inner .cm-string-2 {
    color: #f07178;
  }
  
  .cm-s-inner .cm-comment {
    color: #676e95;
  }
  
  .cm-s-inner .cm-variable {
    color: #f07178;
  }
  
  .cm-s-inner .cm-tag {
    color: #ff5370;
  }
  
  .cm-s-inner .cm-meta {
    color: #ffcb6b;
  }
  
  .cm-s-inner .cm-attribute {
    color: #c792ea;
  }
  
  .cm-s-inner .cm-property {
    color: #c792ea;
  }
  
  .cm-s-inner .cm-qualifier {
    color: #decb6b;
  }
  
  .cm-s-inner .cm-variable-3,
  .cm-s-inner .cm-type {
    color: #decb6b;
  }
  
  .cm-s-inner .cm-error {
    color: rgba(255, 255, 255, 1);
    background-color: #e9405c;
  }
  
  /*流程图样式*/
  pre[lang="sequence"],
  pre[lang="flow"],
  pre[lang="mermaid"] {
    background: #ffffff;
    color: #333333;
  }
  
  /* ---------------------------- 华丽的分割线 -------------------------------- */
  
  /* 高亮 */
  mark {
    font-weight: bold;
    background: #0070ff00;
    color: #ff6b6b;
  }
  
  #write pre {
    font-family: cascadia code;
  }
  
  #write pre.ty-contain-cm {
    box-shadow: 9px 9px 7px 2px rgba(0, 0, 0, 0.2);
  }
  
  :root {
    --select-text-bg-color: #3b3e4d;
    --main-blue: #166ff3;
    --main-red: #ff6b6b;
    --main-green: #2ed573;
  }
  
  @keyframes colorChangeBack {
    0% {
      background-color: rgb(0, 255, 240);
    }
  
    25% {
      background-color: rgb(103, 239, 172);
    }
  
    50% {
      background-color: rgb(144, 255, 0);
    }
  
    75% {
      background-color: rgba(166, 255, 0, 0.801);
    }
  
    100% {
      background-color: #ff6b6b;
    }
  }
  
  #write hr {
    height: 5px;
    padding: 0;
    border: none;
    text-align: center;
    /* animation: colorChangeBack 2s infinite; */
  }
  
  /* 颜色渐变动画 */
  /* @keyframes colorChange {
    0% {
      color: rgb(0, 140, 255);
    }
  
    25% {
      color: rgb(234, 184, 75);
    }
  
    50% {
      color: rgb(39, 211, 102);
    }
  
    75% {
      color: rgba(232, 121, 56, 0.801);
    }
  
    100% {
      color: #ff6b6b;
    }
  } */
  
  /* 一级标题 */
  /* #write h1 {
    font-size: 50px;
    animation: colorChange 5s infinite;
  } */
  
  /* 引用左边框 */
  #write blockquote {
    border-left: 5px solid #166ff3;
  }
  
  /* 选中文本 */
  .CodeMirror-selected,
  .CodeMirror-selectedtext {
    background: #ff6b6b70;
    text-shadow: none;
  }
  
  /* 数学公式 */
  .md-fences-adv-panel,
  .md-math-container,
  .md-mathjax-preview {
    font-family: fantasy;
  }
  
  /* 区分大小写 */
  .searchpanel-search-option-btn.active {
    color: #166ff3;
    animation: colorChange 1s infinite;
  }
  
  .md-inline-math-container mjx-container {
    zoom: 1;
  }
  
  /* 图片路径 */
  .md-expand.md-img-loaded > .md-meta > span {
    color: var(--main-blue);
  }
  
  .md-image > .md-meta {
    color: var(--main-blue);
  }
  
  /* 左边树状标签背景(活动) */
  .outline-item.outline-item-active {
    background: #ff6b6b2b;
  }
  
  /* 左边框顶部大纲底部颜色 */
  .active-tab-files #info-panel-tab-file .info-panel-tab-border,
  .active-tab-outline #info-panel-tab-outline .info-panel-tab-border {
    background-color: var(--main-blue);
  }
  
  /* 无序列表 */
  #write ul {
    list-style-type: disclosure-closed;
  }
  
  .typora-node.pin-outline #md-searchpanel,
  .typora-node.pin-outline .md-notification-container {
    box-shadow: 6px 6px 10px 2px rgb(173 173 173);
  }
  
  .ion-close-round:before {
    color: #ff6b6b;
  }
  
  #md-searchpanel input {
    box-shadow: inset 3px 7px 4px 2px rgb(173 173 173);
  }
  
  #md-searchpanel .btn label {
    font-weight: bold;
    color: #166ff3;
  }
  
  /* 文件夹 */
  .fa-folder:before {
    color: #f9b03d;
  }
  
  /* 上角标 */
  #write .md-footnote {
    font-weight: bold;
    color: var(--main-red);
  }
  
  /* #write .md-footnote > .md-text:before {
    content: "[";
  }
  
  #write .md-footnote > .md-text:after {
    content: "]";
  } */
  
  .cm-search-hit.CodeMirror-selectedtext,
  .md-search-hit.md-search-select,
  .md-search-select {
    color: var(--main-green);
    text-shadow: none;
  }
  
  .md-search-hit {
    background-color: rgba(255, 255, 255, 0.123);
    contain: style;
    transform: translate3d(0, 0, 0);
  }
  